<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="alfa_robot">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="mock_sensor_commands" default="true"/>
  <xacro:arg name="end_effector" default="suction"/>
  <!-- Deprecated compatibility argument. Ground clearance belongs to scene geometry. -->
  <xacro:arg name="model_ground_offset" default="0"/>
  <xacro:arg name="arm_mount_forward_offset" default="0"/>

  <xacro:arg name="updown_initial" default="-0.3"/>
  <xacro:arg name="head_joint_initial" default="0.0"/>
  <xacro:arg name="head_pitch_joint_initial" default="0.0"/>
  <xacro:arg name="left_joint1_initial" default="2.70526034059121"/>
  <xacro:arg name="left_joint2_initial" default="-1.832595714594046"/>
  <xacro:arg name="left_joint3_initial" default="0.34906585039887"/>
  <xacro:arg name="left_joint4_initial" default="1.57079632679490"/>
  <xacro:arg name="left_joint5_initial" default="-1.57079632679490"/>
  <xacro:arg name="left_joint6_initial" default="-0.69813170079773"/>
  <xacro:arg name="left_joint7_initial" default="0.0"/>
  <xacro:arg name="right_joint1_initial" default="-2.70526034059121"/>
  <xacro:arg name="right_joint2_initial" default="1.832595714594046"/>
  <xacro:arg name="right_joint3_initial" default="-0.34906585039887"/>
  <xacro:arg name="right_joint4_initial" default="-1.57079632679490"/>
  <xacro:arg name="right_joint5_initial" default="1.57079632679490"/>
  <xacro:arg name="right_joint6_initial" default="0.69813170079773"/>
  <xacro:arg name="right_joint7_initial" default="0.0"/>
  <xacro:arg name="left_moving_jaw_initial" default="0.0"/>
  <xacro:arg name="right_moving_jaw_initial" default="0.0"/>
  <xacro:arg name="active_suspension_joint_initial" default="0.0"/>
  <xacro:arg name="caster01_joint_initial" default="0.0"/>
  <xacro:arg name="wheel01_joint_initial" default="0.0"/>
  <xacro:arg name="caster02_joint_initial" default="0.0"/>
  <xacro:arg name="wheel02_joint_initial" default="0.0"/>
  <xacro:arg name="caster03_joint_initial" default="0.0"/>
  <xacro:arg name="wheel03_joint_initial" default="0.0"/>
  <xacro:arg name="caster04_joint_initial" default="0.0"/>
  <xacro:arg name="wheel04_joint_initial" default="0.0"/>

  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/alfa_robot_macro.ros2_control.xacro"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/robot_v3_1_1.xacro"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/robot_v3_chassis.xacro"/>

  <link name="base_footprint"/>
  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.190000002779484 -0.0000442724271391554 0.40000250599116" rpy="0 0 0"/>
  </joint>

  <link name="base_link"/>
  <joint name="base_to_chassis" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_base"/>
    <origin xyz="-0.19 0 -0.034415142" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_model" type="fixed">
    <parent link="base_link"/>
    <child link="model_base"/>
    <origin
      xyz="${-0.190000017371 + float(xacro.arg('arm_mount_forward_offset'))} 6.50500004219e-09 0.662499964909"
      rpy="1.5707963 0 1.57079632679"/>
  </joint>

  <xacro:alfa_robot_ros2_control
    name="alfa_robot"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    end_effector="$(arg end_effector)"
    updown_initial="$(arg updown_initial)"
    head_joint_initial="$(arg head_joint_initial)"
    head_pitch_joint_initial="$(arg head_pitch_joint_initial)"
    left_joint1_initial="$(arg left_joint1_initial)"
    left_joint2_initial="$(arg left_joint2_initial)"
    left_joint3_initial="$(arg left_joint3_initial)"
    left_joint4_initial="$(arg left_joint4_initial)"
    left_joint5_initial="$(arg left_joint5_initial)"
    left_joint6_initial="$(arg left_joint6_initial)"
    left_joint7_initial="$(arg left_joint7_initial)"
    right_joint1_initial="$(arg right_joint1_initial)"
    right_joint2_initial="$(arg right_joint2_initial)"
    right_joint3_initial="$(arg right_joint3_initial)"
    right_joint4_initial="$(arg right_joint4_initial)"
    right_joint5_initial="$(arg right_joint5_initial)"
    right_joint6_initial="$(arg right_joint6_initial)"
    right_joint7_initial="$(arg right_joint7_initial)"
    left_moving_jaw_initial="$(arg left_moving_jaw_initial)"
    right_moving_jaw_initial="$(arg right_moving_jaw_initial)"
    active_suspension_joint_initial="$(arg active_suspension_joint_initial)"
    caster01_joint_initial="$(arg caster01_joint_initial)"
    wheel01_joint_initial="$(arg wheel01_joint_initial)"
    caster02_joint_initial="$(arg caster02_joint_initial)"
    wheel02_joint_initial="$(arg wheel02_joint_initial)"
    caster03_joint_initial="$(arg caster03_joint_initial)"
    wheel03_joint_initial="$(arg wheel03_joint_initial)"
    caster04_joint_initial="$(arg caster04_joint_initial)"
    wheel04_joint_initial="$(arg wheel04_joint_initial)"/>

</robot>
