<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="alfa_robot">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="mock_sensor_commands" default="true"/>

  <xacro:arg name="updown_initial" default="-0.3"/>
  <xacro:arg name="head_joint_initial" default="0.0"/>
  <xacro:arg name="head_pitch_joint_initial" default="0.0"/>
  <xacro:arg name="left_joint1_initial" default="2.70526034059121"/>
  <xacro:arg name="left_joint2_initial" default="-1.832595714594046"/>
  <xacro:arg name="left_joint3_initial" default="0.34906585039887"/>
  <xacro:arg name="left_joint4_initial" default="1.57079632679490"/>
  <xacro:arg name="left_joint5_initial" default="-1.57079632679490"/>
  <xacro:arg name="left_joint6_initial" default="-0.69813170079773"/>
  <xacro:arg name="left_joint7_initial" default="0.0"/>
  <xacro:arg name="right_joint1_initial" default="-2.70526034059121"/>
  <xacro:arg name="right_joint2_initial" default="1.832595714594046"/>
  <xacro:arg name="right_joint3_initial" default="-0.34906585039887"/>
  <xacro:arg name="right_joint4_initial" default="-1.57079632679490"/>
  <xacro:arg name="right_joint5_initial" default="1.57079632679490"/>
  <xacro:arg name="right_joint6_initial" default="0.69813170079773"/>
  <xacro:arg name="right_joint7_initial" default="0.0"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/alfa_robot_macro.ros2_control.xacro"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/robot_v3_2_2.xacro"/>

  <xacro:alfa_robot_ros2_control
    name="alfa_robot"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    updown_initial="$(arg updown_initial)"
    head_joint_initial="$(arg head_joint_initial)"
    head_pitch_joint_initial="$(arg head_pitch_joint_initial)"
    left_joint1_initial="$(arg left_joint1_initial)"
    left_joint2_initial="$(arg left_joint2_initial)"
    left_joint3_initial="$(arg left_joint3_initial)"
    left_joint4_initial="$(arg left_joint4_initial)"
    left_joint5_initial="$(arg left_joint5_initial)"
    left_joint6_initial="$(arg left_joint6_initial)"
    left_joint7_initial="$(arg left_joint7_initial)"
    right_joint1_initial="$(arg right_joint1_initial)"
    right_joint2_initial="$(arg right_joint2_initial)"
    right_joint3_initial="$(arg right_joint3_initial)"
    right_joint4_initial="$(arg right_joint4_initial)"
    right_joint5_initial="$(arg right_joint5_initial)"
    right_joint6_initial="$(arg right_joint6_initial)"
    right_joint7_initial="$(arg right_joint7_initial)"/>

</robot>
