<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find alfa_robot_description)/urdf/common/inertials.xacro"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/common/materials.xacro"/>

  <xacro:macro name="alfa_robot" params="prefix parent *origin">
    <!-- LINKS -->
    <!-- base_link -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="-0.44193110855616 0.000259961331933109 0.176428166472852" rpy="0 0 0"/>
        <mass value="394.931465036981"/>
        <inertia ixx="66.5681215725466" ixy="5.74775273893285E-10" ixz="9.85014992290203" iyy="65.6389024339403" iyz="2.76043934386688E-09" izz="112.938477587322"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/base_link.STL"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/base_link.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- turn (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}turn_link">
      <inertial>
        <origin xyz="8.3102236387753E-05 -5.6319532371063E-13 0.854091510931534" rpy="0 0 0"/>
        <mass value="93.4308976427189"/>
        <inertia ixx="39.2606066773154" ixy="6.93889405615743E-18" ixz="-5.06230387770105E-13" iyy="39.2606066773154" iyz="2.34703241842353E-11" izz="1.49032676193219"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/turn.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/turn.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- updown (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}updown_link">
      <inertial>
        <origin xyz="-0.297917412220348 -3.47192615164638E-07 0.0811648445824145" rpy="0 0 0"/>
        <mass value="49.32553657462"/>
        <inertia ixx="0.931332356925864" ixy="9.94007584674414E-06" ixz="0.066855170904404" iyy="1.73410727221432" iyz="-8.33331169026236E-07" izz="2.04445451860146"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/updown.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/updown.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- plate (new link) -->
    <link name="${prefix}plate_link">
      <inertial>
        <origin xyz="0.0698918884158706 7.79931674799172E-15 -0.0265000000000004" rpy="0 0 0"/>
        <mass value="5.63390000000005"/>
        <inertia ixx="0.0596659645833342" ixy="-9.2486172257981E-16" ixz="-5.64097728970053E-17" iyy="0.0554411298589926" iyz="-2.02970605311345E-14" izz="0.112469490258993"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/plate.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/plate.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftarmbase (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightarmbase_link">
      <inertial>
        <origin xyz="-0.0636796126431308 0.0122577193728348 0.0451053264420542" rpy="0 0 0"/>
        <mass value="12.5747563662381"/>
        <inertia ixx="0.101345095416832" ixy="-0.0130489080354425" ixz="0.0363217436443393" iyy="0.783542694113494" iyz="0.00243382729312609" izz="0.751203346059042"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightarmbase.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightarmbase.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint1 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint1_link">
      <inertial>
        <origin xyz="0.573415246499549 -4.59374950527724E-05 0.0242655456595022" rpy="0 0 0"/>
        <mass value="2.70490666316"/>
        <inertia ixx="0.0126377757573578" ixy="0.00720527645040998" ixz="-0.00117248770906348" iyy="0.048686796094863" iyz="2.68796611524638E-05" izz="0.0514547540806274"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint1.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint1.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint2 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint2_link">
      <inertial>
        <origin xyz="0.0974924803763488 0.00121089642420269 0.0312499999989556" rpy="0 0 0"/>
        <mass value="3.87102034080653"/>
        <inertia ixx="0.00877438403522921" ixy="-0.000323257298214455" ixz="-6.23575529358465E-18" iyy="0.0347966708621837" iyz="-1.25198249100768E-19" izz="0.0391798661983104"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint2.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint2.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint3 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint3_link">
      <inertial>
        <origin xyz="-1.19792535313579E-06 -0.000259105444550378 0.0735910770497341" rpy="0 0 0"/>
        <mass value="2.16307538045068"/>
        <inertia ixx="0.00756201455703306" ixy="9.47660614357424E-06" ixz="4.55435043254249E-08" iyy="0.00986535032315377" iyz="1.11493916689321E-05" izz="0.00512470452023724"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint3.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint3.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint4 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint4_link">
      <inertial>
        <origin xyz="0.175697729205423 -0.00674464490596161 -0.0110129395688763" rpy="0 0 0"/>
        <mass value="9.92773566678187"/>
        <inertia ixx="0.0636499915289178" ixy="0.00193403162826374" ixz="0.0237125239968199" iyy="0.138062467565159" iyz="-0.000500914594551876" izz="0.123364066774707"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint4.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint4.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightarmbase (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftarmbase_link">
      <inertial>
        <origin xyz="0.00858986048627108 -0.0287669594343616 0.0499555606572781" rpy="0 0 0"/>
        <mass value="7.06520786855791"/>
        <inertia ixx="0.0164730270054741" ixy="9.84172584812845E-06" ixz="0.000387662666781538" iyy="0.0926777572077124" iyz="0.000120939157760669" izz="0.0913979516362821"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftarmbase.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftarmbase.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint1 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint1_link">
      <inertial>
        <origin xyz="0.374415906775149 -0.00904923744463459 -0.0148960568987655" rpy="0 0 0"/>
        <mass value="2.37583354079001"/>
        <inertia ixx="0.00207304785493464" ixy="1.02796852110949E-06" ixz="1.72939416918191E-06" iyy="0.0375730763919683" iyz="9.61510248922564E-06" izz="0.0381102083862888"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint1.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint1.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint2 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint2_link">
      <inertial>
        <origin xyz="-3.31662261210397E-06 -0.0765366527672894 0.0979391100942644" rpy="0 0 0"/>
        <mass value="0.86529067490259"/>
        <inertia ixx="0.00132661283538382" ixy="-1.59054446085595E-07" ixz="3.24265168911163E-07" iyy="0.00116106049969607" iyz="-1.07921267015626E-06" izz="0.00137430337463552"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint2.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint2.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint3 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint3_link">
      <inertial>
        <origin xyz="0.211965218493119 0.0178758106324586 0.00251195422528849" rpy="0 0 0"/>
        <mass value="0.80983551449458"/>
        <inertia ixx="0.000895661134764477" ixy="-1.74285015573192E-07" ixz="1.55325395906594E-06" iyy="0.00203081725363" iyz="-7.18963040487278E-10" izz="0.00212477105992021"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint3.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint3.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint4 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint4_link">
      <inertial>
        <origin xyz="0.0844096980098743 -0.0538627242829748 -2.30167658230584E-05" rpy="0 0 0"/>
        <mass value="0.87429812902866"/>
        <inertia ixx="0.00141845889439953" ixy="8.7764400516495E-05" ixz="2.05978166736258E-07" iyy="0.00123345158654823" iyz="-1.07921281417646E-06" izz="0.00149174666442669"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint4.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint4.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint5 (new link for 6DOF) -->
    <link name="${prefix}leftjoint5_link">
      <inertial>
        <origin xyz="0.0961218883209607 4.05763946975668E-06 -0.0115836008735541" rpy="0 0 0"/>
        <mass value="0.798597769370932"/>
        <inertia ixx="0.00254664839147289" ixy="-9.91166552698404E-09" ixz="1.01070951103748E-05" iyy="0.0012909021102841" iyz="3.11289977467224E-09" izz="0.00196072810117326"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint5.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint5.STL"/>
        </geometry>
      </collision>
    </link>


    <!-- camera -->
    <link name="${prefix}camera_link">
      <inertial>
        <origin xyz="-0.0128838261972163 0.00026531291498777 0.00027897095170859" rpy="0 0 0"/>
        <mass value="0.0247923828845652"/>
        <inertia ixx="3.5668701541101E-05" ixy="-1.36439346012497E-08" ixz="-2.61698308401705E-08"
                 iyy="2.83830455101906E-06" iyz="2.73948631199571E-08" izz="3.34987859138971E-05"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/camera.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/camera.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- lidar -->
    <link name="${prefix}lidar_link">
      <inertial>
        <origin xyz="-0.00468733327842979 -6.25961285910526E-06 -0.016722032751983" rpy="0 0 0"/>
        <mass value="0.141886849294983"/>
        <inertia ixx="4.37633098241424E-05" ixy="-5.36171297405178E-09" ixz="7.01471703806087E-06"
                 iyy="4.50759714359166E-05" iyz="9.27886666435768E-10" izz="6.68414722762209E-05"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/lidar.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/lidar.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- right_ee_link (virtual end effector for MoveIt2 planning) -->
    <link name="${prefix}right_ee_link"/>

    <!-- left_ee_link (virtual end effector for MoveIt2 planning) -->
    <link name="${prefix}left_ee_link"/>

    <!-- END LINKS -->

    <!-- JOINTS -->
    <!-- base_joint fixes base_link to the environment -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}base_link"/>
    </joint>

    <!-- turn -->
    <joint name="${prefix}turn" type="continuous">
      <origin xyz="-0.007937 0 0.129" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}turn_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- updown -->
    <joint name="${prefix}updown" type="prismatic">
      <origin xyz="-0.23547 0 0.45934" rpy="0 0 0"/>
      <parent link="${prefix}turn_link"/>
      <child link="${prefix}updown_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="0.95" effort="1000" velocity="1"/>
    </joint>

    <!-- plate (new joint) -->
    <joint name="${prefix}plate" type="prismatic">
      <origin xyz="0.42217 0 0.0325" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}plate_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000" velocity="1000"/>
    </joint>

    <!-- leftarmbase -->
    <joint name="${prefix}rightarmbase" type="prismatic">
      <origin xyz="-0.16145 -0.31517 0.146" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}rightarmbase_link"/>
      <axis xyz="0 -1 0"/>
      <limit lower="0" upper="0.12" effort="1000" velocity="1000"/>
    </joint>

    <!-- leftjoint1 -->
    <joint name="${prefix}rightjoint1" type="prismatic">
      <origin xyz="0.11412 0.024997 0.07136" rpy="0 0 0"/>
      <parent link="${prefix}rightarmbase_link"/>
      <child link="${prefix}rightjoint1_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.4" effort="1000" velocity="1000"/>
    </joint>

    <!-- leftjoint2 -->
    <joint name="${prefix}rightjoint2" type="revolute">
      <origin xyz="0.67445 -0.035997 0.04964" rpy="0 1.5708 0"/>
      <parent link="${prefix}rightjoint1_link"/>
      <child link="${prefix}rightjoint2_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-2.35" upper="2.35" effort="1000" velocity="1000"/>
    </joint>

    <!-- leftjoint3 -->
    <joint name="${prefix}rightjoint3" type="revolute">
      <origin xyz="0.19998 0.0021836 0.0834" rpy="0 0 0"/>
      <parent link="${prefix}rightjoint2_link"/>
      <child link="${prefix}rightjoint3_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-2.35" upper="2.35" effort="1000" velocity="1000"/>
    </joint>

    <!-- leftjoint4 -->
    <joint name="${prefix}rightjoint4" type="revolute">
      <origin xyz="-0.00022361 -0.054349 0.105" rpy="1.5708 -0.11346 -0.0041142"/>
      <parent link="${prefix}rightjoint3_link"/>
      <child link="${prefix}rightjoint4_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="3.14" effort="1000" velocity="1000"/>
    </joint>

    <!-- left_ee_joint (virtual fixed joint for MoveIt2 end effector) -->
    <joint name="${prefix}right_ee_joint" type="fixed">
      <origin xyz="0.275 -0.0308 -0.02825" rpy="0 0 0"/>
      <parent link="${prefix}rightjoint4_link"/>
      <child link="${prefix}right_ee_link"/>
    </joint>

    <!-- rightarmbase -->
    <joint name="${prefix}leftarmbase" type="prismatic">
      <origin xyz="-0.16145 0.4695 0.146" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}leftarmbase_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="-0.16" upper="0" effort="1000" velocity="0.5"/>
    </joint>

    <!-- rightjoint1 -->
    <joint name="${prefix}leftjoint1" type="prismatic">
      <origin xyz="0.094579 -0.021899 0.088" rpy="0 0 0"/>
      <parent link="${prefix}leftarmbase_link"/>
      <child link="${prefix}leftjoint1_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.45" effort="1000" velocity="0.5"/>
    </joint>

    <!-- rightjoint2 -->
    <joint name="${prefix}leftjoint2" type="continuous">
      <origin xyz="0.74035 0.0209 0.033" rpy="0 1.5708 0"/>
      <parent link="${prefix}leftjoint1_link"/>
      <child link="${prefix}leftjoint2_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- rightjoint3 -->
    <joint name="${prefix}leftjoint3" type="continuous">
      <origin xyz="0 -0.035 0.11" rpy="1.5708 -1.5708 0"/>
      <parent link="${prefix}leftjoint2_link"/>
      <child link="${prefix}leftjoint3_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- rightjoint4 -->
    <joint name="${prefix}leftjoint4" type="prismatic">
      <origin xyz="0.376 0.026 0.0023" rpy="1.5708 0 0"/>
      <parent link="${prefix}leftjoint3_link"/>
      <child link="${prefix}leftjoint4_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.15" effort="0" velocity="0"/>
    </joint>

    <!-- leftjoint5 (new joint for 6DOF) -->
    <joint name="${prefix}leftjoint5" type="continuous">
      <origin xyz="0.092 0.0018 0" rpy="-1.5708 0 0"/>
      <parent link="${prefix}leftjoint4_link"/>
      <child link="${prefix}leftjoint5_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- right_ee_joint (virtual fixed joint for MoveIt2 end effector) -->
    <joint name="${prefix}left_ee_joint" type="fixed">
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <parent link="${prefix}leftjoint5_link"/>
      <child link="${prefix}left_ee_link"/>
    </joint>

    <!-- camera -->
    <joint name="${prefix}camera" type="fixed">
      <origin xyz="0.51384 0 0.07785" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}camera_link"/>
    </joint>

    <!-- lidar -->
    <joint name="${prefix}lidar" type="fixed">
      <origin xyz="0.46082 0 0.13841" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}lidar_link"/>
    </joint>

    <!-- END JOINTS -->

  </xacro:macro>
</robot>
