<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="alfa_robot_ros2_control" params="
               name
               prefix
               use_mock_hardware:=true
               mock_sensor_commands:=true
               end_effector:=suction
               updown_initial:=0.0
               head_joint_initial:=0.0
               head_pitch_joint_initial:=0.0
               left_joint1_initial:=2.61799387799
               left_joint2_initial:=1.57079632679
               left_joint3_initial:=-0.0872664625997
               left_joint4_initial:=2.09439510239
               left_joint5_initial:=0.0
               left_joint6_initial:=0.0
               left_joint7_initial:=0.0
               right_joint1_initial:=-2.61799387799
               right_joint2_initial:=-1.57079632679
               right_joint3_initial:=0.0872664625997
               right_joint4_initial:=-2.09439510239
               right_joint5_initial:=0.0
               right_joint6_initial:=0.0
               right_joint7_initial:=0.0
               left_moving_jaw_initial:=0.0
               right_moving_jaw_initial:=0.0
               active_suspension_joint_initial:=0.0
               caster01_joint_initial:=0.0
               wheel01_joint_initial:=0.0
               caster02_joint_initial:=0.0
               wheel02_joint_initial:=0.0
               caster03_joint_initial:=0.0
               wheel03_joint_initial:=0.0
               caster04_joint_initial:=0.0
               wheel04_joint_initial:=0.0">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="mock_sensor_commands">${mock_sensor_commands}</param>
      </hardware>

      <xacro:macro name="control_joint" params="joint_name initial_value lower upper">
        <joint name="${prefix}${joint_name}">
          <command_interface name="position">
            <param name="min">${lower}</param>
            <param name="max">${upper}</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">${initial_value}</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:control_joint joint_name="updown" initial_value="${updown_initial}" lower="-1.0" upper="0.0"/>
      <xacro:control_joint joint_name="head_joint" initial_value="${head_joint_initial}" lower="-1.57" upper="1.57"/>
      <xacro:control_joint joint_name="head_pitch_joint" initial_value="${head_pitch_joint_initial}" lower="-1.57" upper="1.57"/>
      <xacro:control_joint joint_name="left_joint1" initial_value="${left_joint1_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="left_joint2" initial_value="${left_joint2_initial}" lower="-1.8325957145940461" upper="1.8325957145940461"/>
      <xacro:control_joint joint_name="left_joint3" initial_value="${left_joint3_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="left_joint4" initial_value="${left_joint4_initial}" lower="-2.53072742" upper="2.53072742"/>
      <xacro:control_joint joint_name="left_joint5" initial_value="${left_joint5_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="left_joint6" initial_value="${left_joint6_initial}" lower="-1.91986218" upper="1.91986218"/>
      <xacro:control_joint joint_name="left_joint7" initial_value="${left_joint7_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="right_joint1" initial_value="${right_joint1_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="right_joint2" initial_value="${right_joint2_initial}" lower="-1.8325957145940461" upper="1.8325957145940461"/>
      <xacro:control_joint joint_name="right_joint3" initial_value="${right_joint3_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="right_joint4" initial_value="${right_joint4_initial}" lower="-2.53072742" upper="2.53072742"/>
      <xacro:control_joint joint_name="right_joint5" initial_value="${right_joint5_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:control_joint joint_name="right_joint6" initial_value="${right_joint6_initial}" lower="-1.91986218" upper="1.91986218"/>
      <xacro:control_joint joint_name="right_joint7" initial_value="${right_joint7_initial}" lower="-3.14159265" upper="3.14159265"/>
      <xacro:if value="${end_effector == 'gripper'}">
        <xacro:control_joint joint_name="left_moving_jaw_joint" initial_value="${left_moving_jaw_initial}" lower="0.0" upper="0.08"/>
        <xacro:control_joint joint_name="right_moving_jaw_joint" initial_value="${right_moving_jaw_initial}" lower="0.0" upper="0.08"/>
      </xacro:if>
      <xacro:control_joint joint_name="active_suspension_joint" initial_value="${active_suspension_joint_initial}" lower="-0.15" upper="0.0"/>
      <xacro:control_joint joint_name="caster01_joint" initial_value="${caster01_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="wheel01_joint" initial_value="${wheel01_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="caster02_joint" initial_value="${caster02_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="wheel02_joint" initial_value="${wheel02_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="caster03_joint" initial_value="${caster03_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="wheel03_joint" initial_value="${wheel03_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="caster04_joint" initial_value="${caster04_joint_initial}" lower="-3.14159" upper="3.14159"/>
      <xacro:control_joint joint_name="wheel04_joint" initial_value="${wheel04_joint_initial}" lower="-3.14159" upper="3.14159"/>
    </ros2_control>
  </xacro:macro>
</robot>
