<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="alfa_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
                <param name="mock_sensor_commands">true</param>
            </hardware>
            <joint name="pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['pitch']}</param>
                </state_interface>
            </joint>
            <joint name="turn">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['turn']}</param>
                </state_interface>
            </joint>
            <joint name="updown">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['updown']}</param>
                </state_interface>
            </joint>
            <joint name="leftjoint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftjoint1']}</param>
                </state_interface>
            </joint>
            <joint name="leftjoint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftjoint2']}</param>
                </state_interface>
            </joint>
            <joint name="leftjoint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftjoint3']}</param>
                </state_interface>
            </joint>
            <joint name="leftjoint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftjoint4']}</param>
                </state_interface>
            </joint>
            <joint name="leftjoint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftjoint5']}</param>
                </state_interface>
            </joint>
            <joint name="leftjoint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['leftjoint6']}</param>
                </state_interface>
            </joint>
            <joint name="rightjoint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightjoint1']}</param>
                </state_interface>
            </joint>
            <joint name="rightjoint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightjoint2']}</param>
                </state_interface>
            </joint>
            <joint name="rightjoint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightjoint3']}</param>
                </state_interface>
            </joint>
            <joint name="rightjoint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightjoint4']}</param>
                </state_interface>
            </joint>
            <joint name="rightjoint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightjoint5']}</param>
                </state_interface>
            </joint>
            <joint name="rightjoint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightjoint6']}</param>
                </state_interface>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
